<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> #}
	<link rel="stylesheet" href="css/main.min.css">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<nav class=" navbar navbar-expand-lg fixed-top">
		<div class="container-fluid">
			<a href="./" class="navbar-brand">
				<a class="navbar-brand" href="/">
					<img src="img/logo.png" class="" width="75%" height="auto" alt="Mayan Xtreme">
				</a>
			</a>
			<button class="navbar-toggler navbar-toggler-right p-2 ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<div id="menuanim">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>                  
			</button>
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					{% for item in op.menuNav %}	
						<li class="nav-item active">
							<a class="nav-link" href="{{item[0]}}">{{item[1]}} </a>
						</li>
					{% endfor %}
					
				</ul>
			</div>
		</div>
	</nav>
	<header class="" id="home">
		
		<section class="container" id="head">	
			<div class="row d-lg-flex justify-content-center  d-none d-lg-block">
				<div class="col-6">
					<img src="img/wake.png" alt="" class="img-fluid d-flex wake ml-auto">
					<p class="wake-txt">WAKEBOARDING</p>
				</div>
				<div class="col-6">
					<img src="img/fishi.png" alt="" class="img-fluid fishi d-block">
					<p class="fishi">WAKEBOARDING</p>
				</div>
			</div>	
			<div class="mt-5 pt-4 row d-lg-flex justify-content-center  d-none d-lg-block">
				<div class="col-6">
					<img src="img/kite.png" alt="" class="img-fluid d-flex kite ml-auto">
					<p class="kite-txt">KITE SURFING</p>
				</div>
				<div class="col-6">
					<img src="img/skate.png" alt="" class="img-fluid skate d-block">
					<p class="skate">SKATEBOARDING</p>
				</div>
			</div>	
			<div class="row d-flex justify-content-center ">
				<div class="col mt-5 pt-5 pr-0  d-none d-lg-block">
					<img src="img/zpline.png" alt="" class="img-fluid d-flex zpline ml-auto">
					<p class="zpline-txt">ZIPLINE TOUR</p>
				</div>
				<div class="col d-flex flex-column px-0">
					<h2 class="text-center">DISCOVER</h2>
					<h3 class="text-center">THE  MAYAN</h3>
					<h4 class="text-center">RIVIERA</h4>
					<a href="#" class="btn mx-auto">SHOW ME MORE</a>
				</div>
				<div class="col mt-5 pt-5  d-none d-lg-block">
					<img src="img/bunge.png" alt="" class="img-fluid bungle d-block">
					<p class="bungle">BUNGEE JUMP</p>
				</div>
			</div>	
			
		</section>
		
	</header> 

	{# ###################TOURS########################## #}
<section class="container">
<div class="row d-flex justify-content-center ">
	<h2>A different way to experience the paradise</h2>
</div>
{% for item in service.action %}
	<div class="box-el row  d-flex justify-content-center {% if loop.index == 1 %} mb-3{% endif %}">
		{% for services in item.cont %}
			<div class="box{{services.num}} col-12 col-md-6 col-lg mt-3" >
				<div class="box-inner">
					<div class="the-content-box">
						<div class="content-box-inner">
							<h1 class="text-center">COMING SOON</h1>
							<div class="d-flex justify-content-center">
								<a  href="">COMING SOON</a>
							</div>
							<div class="mt-5">
								<p class="text-center">{{services.cont}}</p>
							</div>

						</div>
					</div>
				</div>
				<div class="box-footer">
					<div class="{% if loop.index == 2  %} the-content-footer2  {% else %} the-content-footer {% endif %}">
						<div class="content-box-footer">
							<h3 class="text-center">{{services.title}}</h2>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>	
{% endfor %}
</section> 

{# ###################Information########################## #}

<section class="container py-5" id="tours">
	{% for item in inf.information %}
		<div class="row mt-5 d-flex">
			<div class="col-lg-6 col-12 {% if loop.index == 2 %} order-2 mt-5 px-0 {% endif %}
			">
				<picture>
					<img class="{% if loop.index == 1%} img-fluid {% else %} img-fluid-mov {% endif %}" src="{{item.image[0]}}">	
				</picture>
				{% if loop.index == 1 %}

					<a href="" class="video d-block w-100 p-5" data-toggle="modal"  data-target="#videoModal" data-theVideo="{{ slide.play }}">
						<img src="/img/play-button.svg"  class="svg-color"  width="100" alt="Play Video">
					</a>
				{% endif %}
				
			</div>
			<div class="col-lg-6 col-12 mt-5">
				<h2 class="pb-5 {% if loop.index == 2 %} green {% endif %}">{{item.title}}</h2>
				{{item.cont|raw}}
				{% if loop.index == 1%}
					<a  href="{{ item.buttons[0] }}" class="btn  btn-outline-dange p-3 mt-3">{{ item.buttons[1] }}</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</section>
   
	{# ###################Gallery########################## #}
    
<section class="container fluid my-5 py-5" id="galery">
	<div class="col-12">
		<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/5a4cdb2429e3591a960d6da8a92e7149.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

	</div>
</section>
{# ###################CONTACT########################## #}
	<section class="container py-5 my-5" id="contact">					
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2 class="">Extreme Riviera Maya</h2>
				<h3 class="">Learn more about the project</h3>
				<p>{{contact.cont}}</p>
				<p>{{contact.cont2}}</p>
				<p>{{contact.title}}</p>
				<p>{{contact.phone}}</p>
				<p>{{contact.email}}</p>
				<p>{{contact.adress}}</p>
			</div>
			<div class="col-12 col-lg-6">
				<h3 class="mb-5 text-center">Leave us a message and becomea<br> partner!</h3>
				<section class="contact  shadow" id="contact_form">
					<div class="row">
						<div class="col-12 mb-3">
							<div id="contact_results"></div>
						</div>
						<div class="col-12 mb-3">
							<input type="text" name="name" id="name" required="true" class="w3-input"  placeholder="Name(s)">
						</div>
						<div class="col-12 mb-3">
							<input type="email" name="email" id="email" required="true" class="w3-input" placeholder="Your E-mail Adress">
						</div>
						<div class="col-12 mb-3">
							<textarea name="message" id="message" class="w3-input" required="true" rows="6" placeholder="Comment"></textarea>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<input id="submit_btn" class="btn" type="submit" value="Send">
						</div>
					</div>
				</section>
			</div>
		</div>		
	</section>	
	{# ###################BRANDS########################## #}	
	<section class="container mb-5 pb-5">
		<div class="row">
			<div class="col-12  d-flex justify-content-center">
				<h2 >Brands that trust in us</h2>
			</div>   
		</div>	
		<div class="row mt-3  d-flex justify-content-center">
			{% for item in contact.brands %}
			 	<div class="col-lg-4 col-6 p-4"><img src="{{item[0]}}" class="img-fluid" a alt="{{item[1]}}"></div>
			 {% endfor %} 
		</div>
		
	</section>			
	<footer class="container-fluid">
		<div class="row m-5">
			<div class="col">Lorem ipsum dolor sit amet, consectetu.</div>
			<div class="col d-flex justify-content-end">Follow us</div>
		</div>
	</footer>
	{% block modals %}				
		<div class="modal videomodalcont fade" id="videoModal" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">
						<div class='embed-container'>
						<iframe src='' frameborder='0' allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="assets/bootstrap.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/parallax.min.js"></script>
		
		
		<script>
				$(document).ready(function() {
							$("#submit_btn").click(function() {
									var proceed = true;
									//simple validation at client's end
									//loop through each field and we simply change border color to red for invalid fields
									
									if (proceed) //everything looks good! proceed...
									{
											//get input field values data to be sent to server
											post_data = {
													//'ciudad': $('select[name=ciudad]').val(),
													'user_name': $('input[name=name]').val(),
													'group_size': $('input[name=size]').val(),
													//'user_email': $('input[name=email]').val(),
													//'phone_number': $('input[name=phone]').val(),
													//'msg': $('textarea[name=message]').val(),
													// 'nave': $('input[name=nave]').val(),
													//'origen': $('input[name=origen]').val(),
													//'destino': $('input[name=destino]').val(),
													//'numero_personas': $('input[name=quantity]').val(),
													//'fecha_salida': $('input[name=salida').val(),
													//'fecha_llegada': $('input[name=fecha_llegada').val(),
													'mensaje': $('input[name=message').val(),
											};
											//Ajax post data to server
											$.post('php/contact_me.php', post_data, function(response) {
													if (response.type == 'error') { //load json data from server and output message
															output = '<div class="error">' + response.text + '</div>';
													} else {
															output = '<div class="success">' + response.text + '</div>';
															//reset values in all input fields
															$("#contact_form  input[required=true]").val('');
															$("#contact_form #contact_body").slideUp(); //hide form after success
															document.getElementById("name").value="";
															document.getElementById("email").value="";
													}
													$("#contact_form #contact_results").hide().html(output).slideDown();
											}, 'json');
									}
							});
			
							//reset previously set border colors and hide all message on .keyup()
							$("#contact_form  input[required=true],").keyup(function() {
									$(this).css('border-color', '');
									$("#result").slideUp();
							});
					});
			
			</script>

</body>
</html>